# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
Assets/*.obj
Game/*.obj
OGL3D/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vs 2022 files
.vs/
x64/
